In [1]:
# imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests

%matplotlib inline

In [2]:
# creating folder for dataset on machine
folder = 'dataset'

if not os.path.exists(folder):
  os.mkdir(folder)

In [5]:
# importing the dataset

url = 'https://raw.githubusercontent.com/idowujames/Suicide-Rates-Overview-1985-to-2016/main/master.csv'

data = requests.get(url)

with open('dataset/master.csv', 'wb') as file:
  file.write(data.content)

In [6]:
df = pd.read_csv('dataset/master.csv')

df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers